<% title = 'EAT@' + category %>
<% include partials/top %>

<div class="container">
  <main>
  <article>
	<header><h1>Lets EAT@ <%= category %></h1></header>
	<p>Results are ordered by preference. Mostly my preferences, but eventually they can be yours.</p>
	<a href="#">Okay I got it. Dont' show me these tips. I want to go fast.</a>

	<div class="tab">
      <% for ( key in results ) { %>
      <button class="tablinks" onclick="openCity(event, '<%=key%>')"><%=key%></button>
      <% } %>
	</div>

    <% for ( key in results ) { %>
    <div id="<%=key%>" class="tabcontent">

      <% theShit = results[key] %>
      <% for ( kay in theShit ) { %>
      <% stuffInKay = theShit[kay] %>
      <section>
        <header><h2><%= kay %></h2></header>
        <ul>
        <% for (mealItemName in stuffInKay) { %>
        <% mealItemTags = stuffInKay[mealItemName] %>
        <li>
          <%= mealItemName %>
          <% if (mealItemTags.length > 0) { %>
          -
          <% for (let i = 0; i < mealItemTags.length; i++) { %>
          <%= mealItemTags[i] %>
          <% } %>
          <% } %>
        </li>
        <% } %>
        </ul>
      </section>
      <% } %>

    </div>
    <% } %> 

  </article>
  </main>
</div>

<% include partials/bot %>
