<% title = 'EAT@' + category %>
<% include partials/top %>

<% // Overrides are custom html that replaces certain tags on menu items %>
<% overrides = {} %>
<% overrides['vegan'] = '<span class="color-green">&#9419;</span>' %>
<% overrides['vegetarian'] = '<span class="color-orange">&#9419;</span>' %>

<div class="container">
  <main>
  <article>
	<header><h1>Lets EAT@ <%= category %></h1></header>
	<p>Results are ordered by preference. Mostly my preferences, but eventually they can be yours.</p>
	<a href="#">Okay I got it. Dont' show me these tips. I want to go fast.</a>

    <ul>
      <% for ( let i in overrides ) { %>
      <% z = overrides[i] %>
      <li><%- z %> === <%= i %></li>
      <% } %>
    </ul>

	<div class="tab">
      <% for ( let timeSlot in results ) { %>
      <button class="tablinks" onclick="openCity(event, '<%=timeSlot%>')"><%=timeSlot%></button>
      <% } %>
	</div>

    <% for ( let timeSlot in results ) { %>
    <div id="<%=timeSlot%>" class="tabcontent">
      <% venues = results[timeSlot] %>
      <% for ( let i = 0; i < venues.length; i++ ) { %>
      <% let venue = venues[i] %>
      <% let menuItems = venue.menu %>

      <section>
        <header>
          <h2>
            <%= venue.name %>
            <% if (venue.score) { %>
            <small>scored at <%=venue.score%></small>
            <% } %>
          </h2>
        </header>
        <ul>
          <% for (let j = 0; j < menuItems.length; j++) { %>
          <% menuItem = menuItems[j] %>
          <% tags = menuItem.tags %>
          <li>
            <%= menuItem.name %>

            <%_ if (tags.length > 0) { _%>
            -
            <% for (let z = 0; z < tags.length; z++) { %>
            <% tag = tags[z] %>
            <% if (overrides[tag]) { %>
            <%- overrides[tag] %>
            <% } else { %>
            <%= tag %>
            <% } %>
            <% } %>
            <% } %>
          </li>
          <% } %>
        </ul>
      </section>

      <% } %>

    </div>
    <% } %> 

  </article>
  </main>
</div>

<% include partials/bot %>
